body {
	font-family: 'Helvetica Neue', Helvetica, Arial, san-serif;
	font-weight: 200;
	padding: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;	
}

a {
	color: inherit;
	text-decoration: none;
	border-style: none none dashed none;
	border-width: 1px;
	border-color: #333;
}

a:hover {
	color: #000
}

.add {
	font-size: 1.3em;
	color: inherit;
	text-decoration: none;
}

.inc, .dec {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
	padding: 4px;
	margin-bottom: 5px;
	cursor: default;
}

.header {
	width: 50%;
	margin: 2px auto;
	border-style: dashed dashed dashed dashed;
	border-color: #ccc;
	border-width: 2px;
	padding: 5px
}

.lunchboard {
	width: 50%;
	margin: 0px auto;
	border-style: none dashed none dashed;
	border-color: #ccc;
	border-width: 2px;
	padding: 0 5px 5px 5px;
}

.venue {
	border-style: none none dashed none;
	border-color: #ccc;
	border-width: 2px;
	cursor: default;
}

.venue .name {
	display: inline-block;
	width: 300px;
	font-size: 1.5em;
	border-style: none none none dashed;
	border-color: #ccc;
	border-width: 2px;	
	padding-left: 5px;
}

.venue .score {
	display: inline-block;
	width: 100px;
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
	color: #777;
}

.venue.selected {
	background-color: yellow;
}

.venue.selected .score {
	color: black;
}

.date {
	display: inline-block;
	border-style: none dashed none none;
	border-color: #ccc;
	border-width: 2px;
	padding-right: 5px;
	width: 50%;
}

.delete {
	display: inline-block;
	font-size: 2em;
}

.delete a {
	color: inherit;
	text-decoration: none;
	border-style: none;
}

.vote {
	display: inline-block;
	font-size: 1em;
	font-weight: bold;	
}

.title {
	font-weight: bold;
	font-size: 1em;
}

.instruction {
	width: 50%;
	margin: 0px auto;
	font-size: 1em;
	color: #777;
}

.search {
	width: 50%;
	margin: 0px auto;
	border-style: none dashed dashed dashed;
	border-color: #ccc;
	border-width: 2px;
	padding: 5px
}

.searchResults {
	width: 50%;
	color: #777;
	margin: 0px auto;
	border-style: none dashed dashed dashed;
	border-color: #ccc;
	border-width: 2px;
	padding: 5px;	
}

.searchbox {
	width: 150px;
}

.none {
	color: #777;
}

.mapCanvas {
	float: left;
	width: 75%;
	margin: 0px auto;	
	height: 440px;		
}

.listing {
	width: 25%;
	height: 440px;	
	cursor: pointer;
	overflow-x: hidden;
}

.placeIcon {
	width: 32px;
	height: 32px;
	margin: 4px;
}

.parityOdd {
	background-color: #F0F0F0;
}

.rating {
	font-size: 1em;
}

.infoWindowLabel {
	font-weight: bold;
	text-align: right;
}
